################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Droid/bin/Debug
/Droid/obj/Debug
/Hubbl.Daemon/bin/Debug
/Hubbl.Daemon/obj/Debug
/bin*
/obj*
*/bin
*/obj
*/packages
/packages/*

