@charset "utf-8";
	.pause-black
{
	background-image : url(pause-black.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 714px;
	top : 317px;
	width : 129px;
	height : 129px;
}
.plus-white
{
	background-image : url(plus-white.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 380px;
	top : 693px;
	width : 129px;
	height : 129px;
}
.cog-blue
{
	background-image : url(cog-blue.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 736px;
	top : 496px;
	width : 129px;
	height : 128px;
}
.add-track-blue
{
	background-image : url(add-track-blue.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 914px;
	top : 495px;
	width : 113px;
	height : 129px;
}
.plus-green
{
	background-image : url(plus-green.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 380px;
	top : 495px;
	width : 129px;
	height : 129px;
}
.play-black
{
	background-image : url(play-black.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 892px;
	top : 317px;
	width : 129px;
	height : 129px;
}
.star-white
{
	background-image : url(star-white.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 558px;
	top : 696px;
	width : 129px;
	height : 123px;
}
.yandex-music
{
	background-image : url(yandex-music.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 180px;
	top : 317px;
	width : 129px;
	height : 129px;
}
.trash-can-white
{
	background-image : url(trash-can-white.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 736px;
	top : 693px;
	width : 99px;
	height : 129px;
}
.cross-blue
{
	background-image : url(cross-blue.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 202px;
	top : 495px;
	width : 129px;
	height : 129px;
}
.reload-blue
{
	background-image : url(reload-blue.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 20px;
	top : 317px;
	width : 111px;
	height : 129px;
}
.app-icon
{
	background-image : url(app-icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1256px;
	top : 67px;
	width : 513px;
	height : 513px;
}
.dropbox
{
	background-image : url(dropbox.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 358px;
	top : 317px;
	width : 129px;
	height : 129px;
}
.star-golden
{
	background-image : url(star-golden.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 558px;
	top : 498px;
	width : 129px;
	height : 123px;
}
.heart-red
{
	background-image : url(heart-red.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 24px;
	top : 503px;
	width : 129px;
	height : 113px;
}
.vk
{
	background-image : url(vk.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 536px;
	top : 317px;
	width : 129px;
	height : 129px;
}
.heart-white
{
	background-image : url(heart-white.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 24px;
	top : 701px;
	width : 129px;
	height : 113px;
}
.cross-white
{
	background-image : url(cross-white.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 202px;
	top : 693px;
	width : 129px;
	height : 129px;
}
.app-logo-square-black
{
	background-image : url(app-logo-square-black.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 636px;
	top : 20px;
	width : 275px;
	height : 275px;
}
.album-artwork-missing
{
	background-image : url(album-artwork-missing.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1076px;
	top : 495px;
	width : 129px;
	height : 129px;
}
.app-logo-wide-black
{
	background-image : url(app-logo-wide-black.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 32px;
	top : 20px;
	width : 555px;
	height : 248px;
}
.app-logo-square-white
{
	background-image : url(app-logo-square-white.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 636px;
	top : 910px;
	width : 275px;
	height : 275px;
}
.app-logo-wide-white
{
	background-image : url(app-logo-wide-white.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 32px;
	top : 910px;
	width : 555px;
	height : 248px;
}
.app-icon-rounded
{
	background-image : url(app-icon-rounded.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1258px;
	top : 612px;
	width : 513px;
	height : 513px;
}
